.contactMeContainer {
	.contactText {
		display: flex;
		justify-content: space-evenly;
	}

	.social-media {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 3rem 1.5rem;

		.contactLinks {
			padding: 2rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			h4 {
				padding-left: 50px;
				line-height: 24px;
			}
		}
	}
	.image-gallery {
		margin-left: 2rem;
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		img {
			width: 250px;
			height: 250px;
			margin-right: 2px;
			border: 7px solid white;
			border-bottom: 60px solid white;
		}
		.picture.one {
			transition: ease-in 700ms;
			transform: rotate(35deg);
			&:hover {
				transition: ease-in 700ms;
				transform: rotate(10deg);
			}
			.pic-1 {
				border: 2px 2px 2px 2px solid white;
				width: 270px;
			}
			.text-1 {
				margin: 0;
				text-align: center;
				font-family: "Permanent Marker", cursive;
				font-size: 15px;
				background-color: white;
				color: black;
				width: 275px;
				height: 12px;
				padding: 0;
				opacity: 0;
				transition: ease-in 900ms;
			}
			&:hover {
				.text-1 {
					opacity: 1;
					transition: ease-in 900ms;
					transition-delay: 300ms;
				}
			}
		}
		.picture.two {
			transition: ease-in 700ms;
			transform: rotate(15deg);
			z-index: 4;
			&:hover {
				transition: ease-in 700ms;
				transform: rotate(5deg);
			}
			.pic-2 {
				border: 2px 2px 2px 2px solid white;
				width: 270px;
			}
			.text-2 {
				margin: 0;
				text-align: center;
				font-family: "Permanent Marker", cursive;
				font-size: 15px;
				background-color: white;
				color: black;
				width: 275px;
				height: 12px;
				padding: 0;
				opacity: 0;
				transition: ease-in 900ms;
			}
			&:hover {
				.text-2 {
					opacity: 1;
					transition: ease-in 900ms;
					transition-delay: 200ms;
				}
			}
		}

		.picture.three {
			transform: rotate(-45deg);
			transition: ease-in 700ms;
			&:hover {
				transition: ease-in 700ms;
				transform: rotate(15deg);
			}
			.pic-3 {
				border: 2px 2px 2px 2px solid white;
				width: 270px;
			}
			.text-3 {
				margin: 0;
				text-align: center;
				font-family: "Permanent Marker", cursive;
				font-size: 15px;
				background-color: white;
				color: black;
				width: 275px;
				height: 12px;
				padding: 0;
				opacity: 0;
				transition: ease-in 900ms;
			}
			&:hover {
				.text-3 {
					opacity: 1;
					transition: ease-in 900ms;
					transition-delay: 200ms;
				}
			}
		}
		.picture {
			width: 275px;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 270px 50px;
			grid-template-areas: "images" "text";
			gap: 0px;
			margin-bottom: 2px;
			margin: 20px;
		}
	}
	color: white;
	h4 {
		display: inline;
		padding: 10px;
	}
	h1 {
		text-transform: uppercase;
		margin: 3rem;
	}
	.form {
		padding: 1rem, 0rem;
		margin: 50px 0px 0px;
		background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
		height: 250px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-family: "Permanent Marker", cursive;
		color: black;

		.detailsContainer {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h2 {
				margin: 5px 0px;
			}
			.email,
			.name,
			.number {
				transition: width 0.4s ease-in-out;
				height: 1rem;
				padding: 3px;
				background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
				border-radius: 10px;

				&:focus {
					width: 10rem;
				}
			}
		}
		.messageContainer {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.message {
				width: 80%;
				background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
				border-radius: 10px;
			}
		}

		label {
			padding: 10px;
		}
		button {
			width: 20%;
			font-family: "Permanent Marker";
			border-radius: 10px;
			background-color: black;
			color: whitesmoke;
		}
	}
}
@media only screen and (max-width: 768px) {
	.contactMeContainer {
		.contactText {
			display: flex;
			flex-direction: column;
			.social-media {
				width: 100%;
				.contactLinks {
					h4 {
						font-size: 0.8rem;
					}
					.icon-link {
						span {
							font-size: 3rem;
						}
					}
				}
			}
			.image-gallery {
				.picture {
					width: 150px;
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: 150px 30px;
					grid-template-areas: "images" "text";
					gap: 0px;
					margin-bottom: 2px;
					margin: 20px;
				}
				.picture.one {
					.pic-1 {
						width: 175px;
					}
					.text-1 {
						width: 175px;
						opacity: 1;
					}
				}
				.picture.two {
					.pic-2 {
						width: 175px;
					}
					.text-2 {
						width: 175px;
						opacity: 1;
					}
				}
				.picture.three {
					.pic-3 {
						width: 175px;
					}
					.text-3 {
						width: 175px;
						opacity: 1;
					}
				}
				img {
					width: 130px;
					height: 130px;
				}
			}
		}
	}
	.form {
		padding: 5px;
	}
}
