.landing-page {
	&:before {
		content: "";
		position: absolute;
		left: 2%;
		top: 2%;
		height: 5px;
		width: 400px;
		background-color: rgba(255, 255, 255, 0.459);
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	&:after {
		content: "";
		position: absolute;
		right: 2%;
		bottom: 2%;
		height: 5px;
		width: 400px;
		background-color: rgba(255, 255, 255, 0.459);
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.second-border {
		&:before {
			content: "";
			position: absolute;
			left: 2%;
			top: 2.44%;
			height: 400px;
			width: 5px;
			background-color: rgba(255, 255, 255, 0.459);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		&:after {
			content: "";
			position: absolute;
			right: 2%;
			bottom: 2.44%;
			height: 400px;
			width: 5px;
			background-color: rgba(255, 255, 255, 0.459);

			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		width: 100vw;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	.landing-text {
		margin-top: 1rem;
		padding: 1rem;
		font-size: 2rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h1 {
			margin: 0;
			color: whitesmoke;
			font-size: 30px;
		}
		h5 {
			font-style: italic;
			background: linear-gradient(
				rgba(253, 253, 253, 0.322),
				rgba(255, 255, 255, 0)
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			&:hover {
				background: linear-gradient(
					rgba(253, 253, 253, 0.721),
					rgba(255, 255, 255, 0)
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		h6 {
			margin: 0;
			background: linear-gradient(
				rgba(253, 253, 253, 0.322),
				rgba(255, 255, 255, 0)
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-style: italic;
			&:hover {
				background: linear-gradient(
					rgba(253, 253, 253, 0.721),
					rgba(255, 255, 255, 0)
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.navigationContainer {
		background-color: rgba(169, 169, 169, 0.411);
		border-radius: 10px;
		border: 2px solid whitesmoke;
		width: 60%;
		margin: auto;
		.navigation-links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			.links {
				&:hover {
					border-bottom: none;
					color: whitesmoke;
				}
			}
		}
	}
}
