.project-page {
	padding: 1rem 2rem;
	min-height: 100vh;

	.projects-tab {
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			width: 5rem;
			height: 2rem;
			border-radius: 5px;
			margin: 0.5rem 1.5rem;
			cursor: pointer;
			&.clicked {
				background-color: darkgrey;
			}
		}
	}
	.projects {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.card {
		width: 400px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 250px 30px 170px 50px;
		grid-template-areas: "image" "title" "text" "buttons";
		border: 1px solid whitesmoke;

		font-family: roboto;
		text-align: center;

		cursor: pointer;
		margin: 50px;

		.card-header {
			grid-area: title;
			background-color: rgba(255, 255, 255, 0.664);
			h5 {
				color: black;
				margin: 0px;
				padding: 10px;
				font-size: 20px;
			}
		}

		.card-image {
			grid-area: image;
			/* 	border-top-left-radius: 10px;
			border-top-right-radius: 10px; */

			img {
				/* 	border-top-left-radius: 10px;
				border-top-right-radius: 10px; */
				width: 100%;
				height: 100%;
			}
		}

		.card-text {
			grid-area: text;
			background-color: rgba(255, 255, 255, 0.664);

			p {
				color: rgb(0, 0, 2);
				font-size: 15px;
				font-weight: 300;
				margin: 10px;
				padding: 10px;
			}
		}

		.card-buttons {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;

			a {
				width: 100%;
				height: 100%;
			}
			button {
				font-size: 1rem;
				font-weight: bolder;
				padding: auto;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				cursor: pointer;
				background-color: rgb(80, 78, 78);
				border: 2px solid rgb(80, 78, 78);
				&:hover {
					color: whitesmoke;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.project-page {
		.card {
			margin: 20px;
			grid-template-rows: 200px 30px 200px 50px;
		}
	}
}
