.skills {
	padding: 1rem 2rem;
	.my-skills {
		margin-top: 10rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		text-align: center;
	}
	.section-heading h6 {
		font-size: 1.6rem;
		font-weight: 300;
		color: white;
	}
	.skill {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		color: rgba(255, 255, 255, 0.664);
		width: 300px;
		h1 {
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 2rem -2px 2rem 0;
		}
	}

	.icon-container {
		width: 10rem;
		height: 10rem;
		border: 3px solid white;
		background-color: rgba(245, 245, 245, 0.329);

		margin-bottom: 2rem;
		display: flex;
		transform: rotate(45deg);
	}

	.icon-container span {
		color: rgba(245, 245, 245, 0.329);

		font-size: 5rem;
		margin: auto;
		transform: rotate(-45deg);
	}

	.skill.html {
		h1 {
			color: #e44c27;
		}
		&:hover {
			span {
				animation: spinhtml 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #e44c27;
			}
		}
	}
	.skill.css {
		h1 {
			color: #3596d0;
		}
		&:hover {
			span {
				animation: spincss 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #3596d0;
			}
		}
	}
	.skill.js {
		h1 {
			color: #f7df1f;
		}
		&:hover {
			span {
				animation: spinjs 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #f7df1f;
			}
		}
	}
	.skill.sass {
		h1 {
			color: #cf649a;
		}

		&:hover {
			span {
				animation: spinsass 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #cf649a;
			}
		}
	}
	.skill.react {
		h1 {
			color: #04d8ff;
		}
		&:hover {
			span {
				animation: spinreact 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #04d8ff;
			}
		}
	}
	.skill.node {
		h1 {
			color: #72a861;
		}
		&:hover {
			span {
				animation: spinnode 500ms;
				animation-fill-mode: forwards;
			}
			.icon-container {
				border: 4px solid #72a861;
			}
		}
	}
}

@keyframes spincss {
	0% {
		transform: rotate(45deg);
		color: #3596d0;
	}

	25% {
		transform: rotate(90deg);
		color: #3596d0;
	}

	50% {
		transform: rotate(180deg);
		color: #3596d0;
	}

	75% {
		transform: rotate(270deg);
		color: #3596d0;
	}

	100% {
		transform: rotate(315deg);
		color: #3596d0;
	}
}
@keyframes spinhtml {
	0% {
		transform: rotate(45deg);
		color: #e44c27;
	}
	25% {
		transform: rotate(90deg);
		color: #e44c27;
	}
	50% {
		transform: rotate(180deg);
		color: #e44c27;
	}
	75% {
		transform: rotate(270deg);
		color: #e44c27;
	}
	100% {
		transform: rotate(315deg);
		color: #e44c27;
	}
}
@keyframes spinsass {
	0% {
		transform: rotate(45deg);
		color: #cf649a;
	}
	25% {
		transform: rotate(90deg);
		color: #cf649a;
	}
	50% {
		transform: rotate(180deg);
		color: #cf649a;
	}
	75% {
		transform: rotate(270deg);
		color: #cf649a;
	}
	100% {
		transform: rotate(315deg);
		color: #cf649a;
	}
}
@keyframes spinjs {
	0% {
		transform: rotate(45deg);
		color: #f7df1f;
	}
	25% {
		transform: rotate(90deg);
		color: #f7df1f;
	}
	50% {
		transform: rotate(180deg);
		color: #f7df1f;
	}
	75% {
		transform: rotate(270deg);
		color: #f7df1f;
	}
	100% {
		transform: rotate(315deg);
		color: #f7df1f;
	}
}
@keyframes spinnode {
	0% {
		transform: rotate(45deg);
		color: #72a861;
	}
	25% {
		transform: rotate(90deg);
		color: #72a861;
	}
	50% {
		transform: rotate(180deg);
		color: #72a861;
	}
	75% {
		transform: rotate(270deg);
		color: #72a861;
	}
	100% {
		transform: rotate(315deg);
		color: #72a861;
	}
}
@keyframes spinreact {
	0% {
		transform: rotate(45deg);
		color: #04d8ff;
	}
	25% {
		transform: rotate(90deg);
		color: #04d8ff;
	}
	50% {
		transform: rotate(180deg);
		color: #04d8ff;
	}
	75% {
		transform: rotate(270deg);
		color: #04d8ff;
	}
	100% {
		transform: rotate(315deg);
		color: #04d8ff;
	}
}

@media screen and (max-width: 788px) {
	.skill.html {
		span {
			color: #e44c27;
		}
		.icon-container {
			border: 4px solid #e44c27;
		}
	}

	.skill.css {
		span {
			color: #3596d0;
		}
		.icon-container {
			border: 4px solid #3596d0;
		}
	}
	.skill.js {
		span {
			color: #f7df1f;
		}
		.icon-container {
			border: 4px solid #f7df1f;
		}
	}
	.skill.sass {
		span {
			color: #cf649a;
		}
		.icon-container {
			border: 4px solid #cf649a;
		}
	}
	.skill.react {
		span {
			color: #04d8ff;
		}
		.icon-container {
			border: 4px solid #04d8ff;
		}
	}
	.skill.node {
		span {
			color: #72a861;
		}
		.icon-container {
			border: 4px solid #72a861;
		}
	}
}
